@media (max-width: 576px) {
    .image-left-h{
        height: 400px;
    }
    .banner-text-1{
        font-size: 52px;
    }
    .service-text-1{
        font-size: 32px;
    }

    .-image-{
        width: 600px;
        height: 400px;
    }

    .w-mobile-image-2{
        height: 300px !important;
    }

    .service-text-2{
        font-size: 32px;
    }
    .image-left img{
        height: 400px;
    }
    .sobre-text-1{
        font-size: 32px;
    }
    .banner-text-border{
        font-size: 42px;
    }

    .service-bg-img-2{
        background-image: url(../../images/service_sec_2_AM.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
    }

}
/* md */
@media (max-width: 768px) {
    .home-one {
        font-size: 40px;
        line-height: 48px;
        font-weight:bolder;
    }
    .home-p{
        font-size: 20px;
        line-height: 32px;
    
    }
    .right-text{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .home-a{
        padding: 10px 18px;
    }
    .w-mobile-image{
        height: 400px;
    }

    .image-left img{
        height: 600px;
    }
    .contact-btn{
        width: inherit;
    }
   
 }


/* lg */
@media (max-width: 992px) {
    .image-left-h{
        height: 600px;
    }
    .text-bg-hight{
        padding-top: 100px;
    }

}


/* xl */
@media (max-width: 1200px) {
    .w-mobile-image-2{
        height: 500px;
    }
    .image-left img{
        object-fit: cover;
    }
}


/* xxl */
@media (min-width: 1400px) { 
    
 }